.button {
    padding: 10px 20px;
    outline: none;
    border: 2px solid white;
    background: transparent;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    border-radius: 26px;
    cursor: pointer;
    text-transform: capitalize;
}