.title {
    margin: 2rem 0;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 56px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.movie_list {
    display: grid;
    grid-gap: 2rem;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    align-items: baseline;

    
    @media screen and(max-width:755px) {
        justify-items: center;
    }
}

.load_more {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}