@import '../../scss/variables';

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: $main-bg;
    border-bottom: 2px solid white;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    max-width: 1280px;
    font-size: 18px;
    font-weight: 500;
}

.logo {
    width: 64px;
    height: 64px;
    background-color: white;
    color:white;
    border-radius: 50%;
}

.links {
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 900px){
        display: none;
    }

    a {
        margin-right: 27px;
        font-size: 18px;
        font-weight: 500;
    }

    a:last-child {
        margin-right: 0;
    }
}

.login {
    color:white;
    cursor: pointer;

    a {
        display: flex;
        align-items: center;
    }

    span {
        margin-left: 0.5rem;
    }

    @media screen and (max-width: 900px){
        display: none;
    }
}

.logout {
    display: flex;
    align-items: center;
}